.wrap {
    margin-top: 100px;
}
.wrap h1 {
    text-align: center;
    font-family: "Work Sans",sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(61, 66, 70);

}
.title_product h1 {
color: #3d4246;
font-size: 1.0625em;
font-weight: 400;
font-family: 'Work Sans', sans-serif;
text-align: left;

font-family: "Work Sans",sans-serif;
font-style: normal;
font-weight: 600;
line-height: 1.2;
overflow-wrap: break-word;
word-wrap: break-word;

font-size: 1.0625em;
}
.title_product span {
    color: #3d4246;
    font-size: 1.0625em;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    }
.cart .cart_img  {
width: 100%;
}
.cart {
    display: inline-block;
    max-width: 300px; 
   /*  height: 400px; */
    margin-left: 0px;
    /* border: 1px solid grey; */
    padding: 10px 10px 10px 10px;
    /* border-radius: 15px 15px 15px 15px; */
    margin: 0px 10px;
}
.grid {
    width: 85%;
    display: flex;
    flex-flow: wrap;
} 
@media (max-width: 768px) {
.grid {
    display: block;
    background: var(--indigo);
    overflow: auto;
    white-space: nowrap;
    padding: 24px;
}
}
