.wrap {
    margin-top: 100px;
}
.grid {
    margin-top: 50px;
}
.wrap h1 {
    text-align: center;
    font-family: "Work Sans",sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(61, 66, 70);

}
.title_product h1 {
color: #3d4246;
font-size: 1.0625em;
font-weight: 400;
font-family: 'Work Sans', sans-serif;
text-align: left;

font-family: "Work Sans",sans-serif;
font-style: normal;
font-weight: 600;
line-height: 1.2;
overflow-wrap: break-word;
word-wrap: break-word;

font-size: 1.0625em;
}
.title_product span {
    color: #3d4246;
    font-size: 1.0625em;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    }
.cart .cart_img  {
width: 100%;
}
.cart {
    display: inline-block;
    max-width: 300px; 
   /*  height: 400px; */
    margin-left: 0px;
    /* border: 1px solid grey; */
    padding: 10px 10px 10px 10px;
    /* border-radius: 15px 15px 15px 15px; */
    margin: 0px 10px;
}
.grid {
    width: 85%;
    display: flex;
    flex-flow: wrap;
} 
.touch_side {
    display: none;
}
/* .touch_side {
    text-align: center;
    display: none!important;
} */
@media (max-width: 768px) {
    .grid {
    display: block;
    background: var(--indigo);
    overflow: auto;
    white-space: nowrap;
    padding: 24px;
    }
    .touch_side span {
        font-size: 10px;
        color: slategray;
    }
    .touch_side {
        display: block;
        text-align: center;
    }
}


/* ////// Payments ///// */
.fontawasome {
    width: 50%;
    text-align: end;
}

.links a {
    margin: 10px;
}
.icons {
    display: flex;
    width: 90%;
    margin: auto;
}
.icons a {
    text-decoration: none;
    color: rgb(37, 40, 43);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.links {
    width: 50%;
    text-align: left;
}

.fa-cc-visa {
    font-size: 30px;
}
@media (max-width:768px) {
    .icons {
        display: block;
    }
    .links {
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .links a {
        margin: 7px;
        font-size: 12px;
    }
    .fontawasome {
        width: 90%;
        text-align: center;
   
        margin: auto;
        position: relative;
        top: 30px;
    }
}
/* ////// Payments End ///// */
/* /////// Join Us /////// */
.join_us {
    display: flex;
    width: 90%;
    margin: auto;
}
.link {
    width: 50%;
}
.link a {
    display: block;
    text-decoration: none;
    color: rgb(37, 40, 43);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.justify p {
    font-size: 17px;
}
.mailing {
    width: auto;
}
.mailing form {
    display: flex;
    justify-content: flex-end;
}
.info input {
    width: 400px;
    padding: 10px;
}
.btn_newsletter {
    padding: 10px;
    background-color: #557b97;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    border: 1px solid transparent;
    font-weight: 600;
    font-family: "Work Sans",sans-serif;
    cursor: pointer;
}
@media (max-width:768px) {
    .join_us {
        display: block;
    }
    .link a {
        display: inline;
        margin: 12px;

    }
    .link {
            width: 90%;
            text-align: center;
            margin: auto;
    }
    .mailing {
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }
    .info input {
        width: 100%;
        padding: 10px;
    }
    .mailing form {
        display: block;
        justify-content: flex-end;
    }
    .btn_newsletter {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }
    .justify {
        max-width: 400px;
    margin: auto;
    }
 

  

}
/* /////// Join Us End /////// */

