.cart a {
    text-decoration: none;
}
.cart > a:hover {
    opacity: 0.9;
    text-decoration: none;
}
.wrap {
    margin-top: 100px;

}
.grid {
    margin-top: 50px;

}
.feature h1 {
    text-align: center;

    font-weight: 600;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(61, 66, 70);

}
.title_product h1 {
color: #3d4246;
font-size: 1.0625em;
font-weight: 400;

text-align: left;


font-style: normal;
font-weight: 600;
line-height: 1.2;
overflow-wrap: break-word;
word-wrap: break-word;

font-size: 1.0625em;
}
.title_product span {
    color: #3d4246;
    font-size: 1.0625em;
    font-weight: 400;

    }
.cart .cart_img  {
/* width: 100%; */
max-width: 350px;
}
.cart {
    display: inline-block;
    max-width: 300px; 
   /*  height: 400px; */
    margin-left: 0px;
    /* border: 1px solid grey; */
    padding: 10px 10px 10px 10px;
    /* border-radius: 15px 15px 15px 15px; */
    margin: 0px 30px;
}
.grid {
    width: 85%;
    display: flex;
    flex-flow: wrap;
    margin: auto
} 
.touch_side {
    display: none;
}

@media (max-width: 768px) {
 
    .grid {
    display: block;
    background: var(--indigo);
    overflow: auto;
    white-space: nowrap;
    padding: 24px;
    height: 400px;


    width: 100%;
      /*   background: antiquewhite; */
    }
    .touch_side span {
        font-size: 10px;
        color: slategray;
    }
    .touch_side {
        display: block;
        text-align: center;
    }
    .cart .cart_img {
        max-width: 268px!important;
    }
    .cart {
        margin-left: -20px;
    }
}


/* ////// Payments ///// */
.fontawasome {
    width: 50%;
    text-align: end;
}

.links a {
    margin: 10px;
    font-size: 16px!important;
}
.icons {
    display: flex;
    width: 90%;
    height: 100px;
    margin: auto;
}
.icons a {
    text-decoration: none;
    color: rgb(37, 40, 43);

    font-weight: 400;
}
.links {
    width: 50%;
    text-align: left;
}

.fontawasome i {
    font-size: 30px;
    margin: 0px 5px;
}
@media (max-width:768px) {
    .icons {
        display: block;
    }
    .links {
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .links a {
        margin: 7px;
        font-size: 12px!important;
    }
    .fontawasome {
        width: 90%;
        height: 150px;
        text-align: center;
   
        margin: auto;
        position: relative;
        top: 30px;
    }
    .fontawasome i {
        margin: 10px 10px;
    }
}
/* ////// Payments End ///// */
/* /////// Join Us /////// */
.join_us {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 39px 0px;
}
.link {
    width: 50%;

}
.link a {
    display: block;
    text-decoration: none;
    color: rgb(37, 40, 43);
   
    font-weight: 400;
}
.justify p {
    font-size: 17px;
    font-weight: 600;
    color: rgb(61, 66, 70);
    position: absolute;
    margin-top: -30px;

}
.mailing {
    width: 50%;
}
.mailing form {
    display: flex;
    justify-content: flex-end;
}
.info input {
    width: 400px;
    padding: 10px;
}
.btn_newsletter {
    padding: 10px;
    background-color: #557b97;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    border: 1px solid transparent;
    font-weight: 600;
    font-family: "Work Sans",sans-serif;
    cursor: pointer;
}
@media (max-width:768px) {
    .join_us {
        display: block;
    }
    .link a {
        display: inline;
        margin: 12px;

    }
    .link {
            width: 90%;
            text-align: center;
            margin: auto;
    }
    .mailing {
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }
    .info input {
        width: 100%;
        padding: 10px;
    }
    .mailing form {
        display: block;
        justify-content: flex-end;
    }
    .btn_newsletter {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }
    .justify {
        max-width: 400px;
    margin: auto;
    margin-top: 90px;
    }
 

  

}
/* /////// Join Us End /////// */
/* /////// Texto Informativo /////// */
.text {
    height: 200px;
    text-align: center;
    max-width: 700px;
    margin: auto;
}
.text h1 {
    font-weight: 600;
    
   
    color: rgb(61, 66, 70);

}
.text p {
    color: rgb(105, 114, 123);
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}
@media (max-width:768px) {
    .text {
        max-width: 300px;
        margin-top: 50px;
    }
}
/* /////// Texto Informativo End /////// */
/* /////// View All /////// */
.view_all{
    height: 200px;
    text-align: center;
}
.view_all a {
    background-color: #557b97;
    padding: 18px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    border-radius: 2px;
    font-size: 14px;
    border: 1px solid transparent;
}
@media (max-width:768px) {
    .view_all {
        display: none;
    }
}
/* /////// View All End /////// */

