*,
*:before,
*:after {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
body, html {
  font-family: 'Work Sans', sans-serif;
}
.logo
{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Work Sans",sans-serif;
    font-style: normal;
    color: #3d4246!important;
    text-decoration: none;
    font-weight: 600;
}
.fa-rocket {
  color: black;
  background: transparent;

  padding: 10px;
  border-radius: 30px;
  border: 1px solid #00000026;
}
nav {
 background: rgba(0, 0, 0, 0);
 color: white;
 font-family: 'Work Sans', sans-serif;
 font-size: 22px;
 font-weight: 500;
 position: relative;
 transition: all 0.2s;
 width: 100%;
 z-index: 1000;
}
.nav {
 display: flex;
 padding: 0px 30px;
 justify-content: space-between;
 transition: background 0.2s;


}
.nav span {
 margin-top: 30px;

 width: 25%;

}
.nav-items {

    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: auto;


}
.nav-items a {
 box-sizing: border-box;
 padding: 30px 0 5px 0;
 margin: 0 30px;
 text-decoration: none;
 color: black;
 transition: padding 0.2s;
}

.nav-items a:last-child {
 display: none;
}
.nav-items a:last-child:hover {
 cursor: pointer;
 border: none;
 color: black;
 background-color: #0099c4;
}
.nav-scroll {
 color: black;
 font-size: 14px;
 transition: all 0.5s;
}
.nav-scroll span {
 margin-top: 20px;
}
.nav-scroll .nav-items a {
 padding: 20px 0;
 color: black;
 border: none;
 border-top: 3px solid transparent;
}
.nav-scroll .nav-items a:hover {
 border-color: #00C1F7;
}
.nav-scroll .nav-items a.active {
 color: #00C1F7;
 border-color: #00C1F7;
}
.nav-overlay {
 height: 100vh;
 width: 0;
 position: fixed;
 z-index: 10000;
 background-color: black;

 overflow-x: hidden;
 transition: all 0.2s;
 padding-top: 60px;
 text-align: center;
}
.nav-overlay a {
 padding: 10px;
 text-decoration: none;
 font-size: 22px;
 color: #E8F4F7;
 display: block;
 transition: 0.2s;
}
.nav-overlay a:hover {
 color: white;
}
.nav-overlay .toggle-nav {
 position: absolute;
 top: 0;
 right: 0;
 padding: 30px;
 font-size: 22px;
}
.nav-overlay .toggle-nav:hover {
 cursor: pointer;
 background-color: #005a75;
}
.topbar {

    padding: 30px 0 5px 0;
   

    text-align: end;


    width: 25%;
}
.topbar a {
    text-decoration: none;
    padding: 20px 0;
    color: black;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
 
}
.topbar .login {
  border-bottom: 2px solid transparent;
}
.topbar .login:hover {
  border-bottom: 2px solid black;
}
.topbar .get {
  background: black;
    color: white;
    border-radius: 4px;
    padding: 10px;
}
.topbar .get:hover {
  background: blue;
}
@media screen and (max-width: 900px) {
  .nav {
  padding-right: 0;
  }
  .nav-items a {
  display: none;
  padding: 0;
  }
  .nav-items a:last-child {
  display: block;
  padding: 30px;
  margin: 0;
  border-bottom: none;
  }
  .nav-scroll .nav-items a:last-child {
  padding: 20px;
  }

  .nav-items {
    position: relative;
    top: 0%;
    left: 0%;
    
    transform: translate(0%, 0%);
    }
    .nav span {
        position: relative;
        width: auto;
    }
    .topbar {
      display: block;
      margin-left: auto;
      justify-content: center;
      background: pink;
    }
    .topbar a {
      margin: 0px;
    }
    .logo {
      font-size: 1.00em;
    }
}
